.blueTable {
    border: 1px solid #1C6EA4;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    border:2px solid lightslategray;   
}
.blueTable thead {
    background: lightblue;    
    text-align: center;
    border:2px solid lightslategray    
}

.blueTable caption{    
    border: 2px solid lightslategray;
}

.blueTable thead th {
    font-size: 15px;
    font-weight: bold;
    color: black;
    border: 1px solid lightslategray;
}

.blueTable td, .blueTable th {
    border: 1px solid #AAAAAA;
    padding: 3px 2px;
}
.blueTable tbody td {
    font-size: 13px;
}
.blueTable tbody tr:nth-child(even) {
    background: #D0E4F5;
}

.blueTable tfoot {
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
    background: #D0E4F5;
    background: -moz-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
    background: -webkit-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
    background: linear-gradient(to bottom, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
    border-top: 2px solid #444444;
}
.blueTable tfoot td {
    font-size: 14px;
}
.blueTable tfoot .links {
    text-align: right;
}
.blueTable tfoot .links a{
    display: inline-block;
    background: #1C6EA4;
    color: #FFFFFF;
    padding: 2px 8px;
    border-radius: 5px;
}